# {{ ansible_managed }}
---
version: "3.5"

services:

  ovpn_exporter:
    container_name: ovpn_exporter
    image: d3vilh/openvpn_exporter:latest
    restart: always
    privileged: true
    environment:
       - OVPN_STATUS_FILE=/etc/openvpn/log/openvpn-status.log
    volumes:
       - ../openvpn-server/log:/etc/openvpn/log
    ports:
       - "9176:9176/tcp"
    networks:
      - back-tier